<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Tables Des Utilisateurs</h6>
          <div class="input-group mt-3">
            <span class="input-group-text text-body "><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Rechercher Utilisateur ..." [(ngModel)]="filterText">
          </div>
          
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <div style="text-align: right;">
              <a class="btn btn-info btn-sm w-20 mb-3 m-3 p-3" (click)="AddUser()">Ajouter Utilisateur</a>
          </div>
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Role</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ user.firstName}} {{ user.lastName}}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{user.email}}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success w-70">{{user.role==0 ? 'Client' : 'Opérateur' }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <a (click)="editUser(user._id)" href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      <i class="fas fa-pencil-alt text-primary"></i>
                    </a>
                    <a (click)="deleteUser(user._id)" href="javascript:;" class="text-secondary font-weight-bold text-xs m-3" data-toggle="tooltip" data-original-title="Edit user">
                      <i class="fas fa-trash text-danger"></i>
  
                    </a>
                  </td>
                  
                </tr>
             
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>







 