<div class="position-absolute w-100 min-height-300 top-0" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/profile-layout-header.jpg'); background-position-y: 50%;">
    <span class="mask bg-primary opacity-6"></span>
  </div>
 
  <div class="main-content position-relative max-height-vh-100 h-100">
 
    <div class="card shadow-lg mx-4 card-profile-bottom">
      <div class="card-body p-3">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="https://cdn-icons-png.flaticon.com/512/5355/5355536.png" alt="profile_image" class="w-100">
            </div>
           
           

          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                Liste Des Catégories
              </h5>
              <div class="input-group mt-3" style="margin-left:300px;">
                <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                <input type="text" class="form-control" style="width: 550px;" [(ngModel)]="searchText" (change)="filterCategory()" placeholder="Chercher une catégorie ">
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
      
        <div class="col-md-5">
            <div class="card">
              
                <div class="card-body">
                
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="example-text-input" class="form-control-label">Titre</label>
                        <input class="form-control" type="text" [(ngModel)]="categ.name" >
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="example-text-input" class="form-control-label">Descreption</label>
                        <input class="form-control" type="text" [(ngModel)]="categ.description" >
                      </div>
                    </div>
                 

                    <div class="card-header pb-0" *ngIf="!state">
                        <div class="d-flex align-items-center">
                          <button class="btn btn-primary btn-sm ms-auto" (click)="AddCategory()">Ajouter</button>
                        </div>
                      </div>

                      <div class="card-header pb-0" *ngIf="state">
                        <div class="d-flex align-items-center">
                          <button class="btn btn-primary btn-sm ms-auto" (click)="updateCategory()">Modifier</button>
                        </div>
                      </div>
                      
                      
                  </div>
                 
                
                </div>
              </div>
        </div>

        <div class="col-md-7">
            <div class="card mb-4">
                <div class="card-header pb-0">
               
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                  <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Titre</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descreption</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Actions</th>
                          <th class="text-secondary opacity-7"></th>
                        </tr>
                      </thead>
                      <tbody>
                       
                        <tr *ngFor="let categ of filtredCategory">
                          <td>
                            <p class="text-xs font-weight-bold mb-0" >{{categ.name}}</p>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <p class="text-xs font-weight-bold mb-0">{{categ.description}}</p>
                          </td>
                          <td class="align-middle text-center">
                            <a (click)="editCategory(categ._id)" href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                              <i class="fas fa-pencil-alt text-primary"></i>
                            </a>
                            <a (click)="deleteCategory(categ._id)" href="javascript:;" class="text-secondary font-weight-bold text-xs m-3" data-toggle="tooltip" data-original-title="Edit user">
                              <i class="fas fa-trash text-danger"></i>
          
                            </a>
                          </td>
                         
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <footer class="footer pt-3  ">
       
      </footer>
    </div>
  </div>
 