<app-header></app-header>
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Shop By Categories</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading active">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                <li *ngFor="let categ of categories" >{{categ.name}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                   
                    <div  *ngFor="let product of products" class="col-lg-4 col-md-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" [appSetBackground]="'http://127.0.0.1:9000/getimage/' + product.image" >
                                <ul class="product__hover">
                                    <li><a  class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">{{product.title}}</a></h6>
                               
                                <div class="product__price">{{product.price}} DT</div>
                            </div>
                        </div>
                    </div>
                  
                   
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>