<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
  

            <div class="card-body p-5">
              <h3 class="mb-5">S'inscrire </h3>
              <form [formGroup]="form" (ngSubmit)=" onSignUp()">
                <div class="form-outline mb-4">
                    <label class="form-label" for="typeFirstname">Nom</label>
                    <input type="text" id="typeFirstname" formControlName="firstName" class="form-control form-control-lg" required>
                    <div class="text-danger" *ngIf="submitted && form.get('firstName')?.hasError('required')">
                      {{ validationMessages.firstName.required }}
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="typeLastname">Prénom</label>
                    <input type="text" id="typeLastname" formControlName="lastName" class="form-control form-control-lg" required>
                    <div class="text-danger" *ngIf="submitted && form.get('lastName')?.hasError('required')">
                      {{ validationMessages.lastName.required }}
                    </div>
                  </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="typeEmailX-2">Email</label>
                  <input type="email" id="typeEmailX-2" formControlName="email" class="form-control form-control-lg" required>
                  <div class="text-danger" *ngIf="submitted && form.get('email')?.hasError('required')">
                    {{ validationMessages.email.required }}
                  </div>
                  <div class="text-danger" *ngIf="submitted && form.get('email')?.hasError('invalidEmail')">
                    {{ validationMessages.email.invalidEmail }}
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="typePasswordX-2">Mot de Passe</label>
                  <input type="password" id="typePasswordX-2" formControlName="password" class="form-control form-control-lg" required>
                  <div class="text-danger" *ngIf="submitted && form.get('password')?.hasError('required')">
                    {{ validationMessages.password.required }}
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">s'inscrire</button>
              </form>

              <div class="mt-4 text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  Vous avez déja pas de compte ?
                  <a href="javascript:;" class="text-primary text-gradient font-weight-bold" routerLink="/login">Se connecter</a>
                </p>
              </div>
            </div>
            


          </div>
        </div>
      </div>
    </div>
  </section>