

<script>
    $(document).ready(function(){
      $(".wish-icon i").click(function(){
        $(this).toggleClass("fa-heart fa-heart-o");
      });
    });	
  </script>
<app-header></app-header>

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                [appSetBackground]="'../assets/img/categories/category-1.jpg'"
                data-setbg="../assets/img/categories/category-1.jpg">
                <div class="categories__text">
                    <h1>Women’s fashion</h1>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" 
                    [appSetBackground]="'../assets/img/categories/category-2.jpg'"
                    data-setbg="../assets/img/categories/category-2.jpg">
                        <div class="categories__text">
                            <h4>Men’s fashion</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" 
                    [appSetBackground]="'../assets/img/categories/category-3.jpg'"
                    data-setbg="../assets/img/categories/category-3.jpg">
                        <div class="categories__text">
                            <h4>Kid’s fashion</h4>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" 
                    
                    [appSetBackground]="'../assets/img/categories/category-4.jpg'">
                        <div class="categories__text">
                            <h4>Cosmetics</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                    <div class="categories__item set-bg" 
                    [appSetBackground]="'../assets/img/categories/category-5.jpg'"
                    data-setbg="../assets/img/categories/category-5.jpg">
                        <div class="categories__text">
                            <h4>Accessories</h4>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Categories Section End -->




<!-- Product Section Begin -->
<section class="product spad">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="section-title">
                <h4>Nos Produits</h4>
            </div>
        </div>
        <div class="col-lg-8 col-md-8">
            <ul class="filter__controls">
                <li (click)="filterProducts('All')" [class.active]="selectedCategory === 'All'">All</li>
                <li *ngFor="let categ of categories" (click)="filterProducts(categ.name)" [class.active]="selectedCategory === categ.name">{{categ.name}}</li>
              </ul>
              
        </div>
    </div>
    <div class="row property__gallery">
        <ng-container *ngFor="let product of products">
            <div  class="col-lg-3 col-md-4 col-sm-6 mix m-2" 
        [ngClass]="product.category" 
        *ngIf="selectedCategory === 'All' || selectedCategory === product.category">
            <div class="product__item">
                <div class="product__item__pic set-bg"  width="270px" height="360px"
                [appSetBackground]="'http://127.0.0.1:9000/getimage/' + product.image" >
                    <ul class="product__hover">
                        <li><a [href]="'http://127.0.0.1:9000/getimage/' + product.image" class="image-popup"><span class="arrow_expand"></span></a></li>
                        <li><a (click)="addToCart(product._id)"><span class="icon_bag_alt"></span></a></li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6><a href="#">{{product.title}}</a></h6>
                   
                    <div class="product__price"> {{product.price}} DT </div>
                </div>
            </div>
        </div>	
        </ng-container>
        
    
    </div>
</div>
</section>
<!-- Product Section End -->













<app-footer></app-footer>

