<div class="position-absolute w-100 min-height-300 top-0" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/profile-layout-header.jpg'); background-position-y: 50%;">
    <span class="mask bg-primary opacity-6"></span>
  </div>
 
  <div class="main-content position-relative max-height-vh-100 h-100">
 
    <div class="card shadow-lg mx-4 card-profile-bottom">
      <div class="card-body p-3">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsj2CkoqGQnzVXN76Pvij51lvQrWhRGi0lW_NVYirAOFxcFibBl_6_Vv4TAi93SPbJId4&usqp=CAU" alt="profile_image" class="w-100">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                Liste Des Commandes
              </h5>
             
            </div>
          </div>
         
        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
      
        <div class="col-12">
            <div class="card mb-4">
              <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom et Prénom</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statut</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Totale</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Changer Statut</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orders">
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{order.user.firstName}} {{order.user.lastName}} </h6>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{order.user.email}}</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span style="width:160px;padding:10px!important;height:30px;" [ngClass]="'badge badge-sm ' + statusColors[order.orderStatus]">{{  TranslatedStatus[orderStatuses.indexOf(order.orderStatus)]  }}</span>
                        </td>
                       
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{order.total}} DT</span>
                          </td>
                        <td class="align-middle text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{order.createdAt | date:'medium'}}</span>
                        </td>
                        <td class="align-middle text-center text-sm ">
                            <select class="form-select form-select-sm"
                                    (ngModelChange)="onOrderStatusChange($event,order._id)"
                                    [(ngModel)]="order.orderStatus"
                                    name="orderStatus">
                              <option  class="text-center text-secondary font-weight-bold" *ngFor="let status of orderStatuses ; let i=index" [value]="status">{{ TranslatedStatus[i]}}</option>
                            </select>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <i class="fa fa-info-circle fa-beat m-2" (click)="orderDetails(order._id)" aria-hidden="true" style="color: #000000;font-size:20px; "> </i>
                            <i class="fa fa-trash m-2" (click)=" deleteOrder(order._id)" aria-hidden="true" style="color: #ff0000;font-size:18px;"></i>
                        </td>
                      </tr>
                       
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
      <footer class="footer pt-3  ">
       
      </footer>
    </div>
  </div>
 